@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1>Know Your Weather</h1>
    <h4>Get ready for the day with the perfect forecast</h4>
    <div class="container">
        <img width="250" src="https://camo.githubusercontent.com/3fe29fc43c38800ca0179e32fd572fdb0c00c09ce0b91b9afb138bfbdb549021/68747470733a2f2f7068696c732e64657369676e2f776561746865722d69636f6e732f696d616765732f7376672f625f315f706172746c795f636c6f7564792e737667" alt="sun with clouds" />
    </div>
    <div class="input-group container" id="city_input">
        <input type="text" class="form-control" id="city" placeholder="Type your city here ..." aria-describedby="locationHelp" />
        <button class="btn btn-primary" type="submit">Check weather</button>
    </div>
    <div id="locationHelp" class="form-text">We'll never share your location with anyone else.</div>
</div>

