@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="p-3 m-3 text-center">
    <h1 class="text-primary">Privacy</h1>
    <p class="text-secondary">This page has 0 privacy.</p>
    <iframe src="https://giphy.com/embed/KPEpqHiJVrSVCOjyCP" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>


